/* start General Style  */  

body{
    font-family: 'lato';
    color: #111;
    position: relative;
    overflow-x: hidden;
}
.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

::selection{
    background: #873fb5 ;
    color: #fff;    
}
::-moz-selection{
    background: #873fb5;
    color: #fff;
}

p{
    line-height: 24px;
    font-weight: 300px;
}
a:focus{
    color: #873fb5;
}

strong{
    font-weight: 900px;
}

a,
a:hover{
    color: #541b79;
    text-decoration: none;
}

section{
    padding: 50px 0;
}

hr{
    width: 85px;
}

hr.icon::after{
    content: "\f1cb";
    font-family: 'fontAwesome';
    top: -0.8em;
    position: relative;
    color: #541b79;
    font-size: 1.5em;
    background-color: #fff;
    padding: .30em;
}

/* Start Section Heading */
.section-heading{
    color: #541b79;
}
.section-heading h3{
    font-weight: 300;
    letter-spacing: 5px;
}

.section-heading hr{
   border-color: #873fb5;
    margin-top: 30px;
    margin-bottom: 40px;
}


/* __________0.Header */
 #home{
     /* background: url(../images/background.png) fixed;
     background-repeat: no-repeat;
     background-position: centers;
     background-size: cover;
     color: rgb(255, 255, 255);
     height: 600px; */
     background: url(../images/background.png) fixed;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     color: rgb(255, 255, 255);
     height: 600px;
 }   

 .logo{
     font-size: 72px;
     font-weight: 100;
     border-top: 1px solid #fff;
     border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 0 20px 15px 20px;
    }

    #home h3{
        font-weight: 300;
        margin: 0;
    }


    #home .learn-more{
        color: #fff;
        font-size: 32px;
        position: absolute;
    }

    .learn-more .fa{
        position: absolute;
    }
    .learn-more .second-arrow{
        position: absolute;
        top: 8px;
    }
    .learn-more .third-arrow{
        position: absolute;
        top: 16px;
    }
/* __________1.About */
#about{
    background: url(../images/aboutbg.png) fixed;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 440px; 
}
#about h3{
    font-weight: 300;
    letter-spacing: 3px;
}
#about h4{
    font-size: 20px;
    font-weight: 300;
    padding: 0 20%;
}

/* __________2.Services */

.service-item{
    margin-bottom: 40px;
}

.service-item i{
    font-size: 48px; 
    color: #c1c1c1;
    float: left;
    border-right: 2px solid #541b79;
    padding-right: 10px;
    margin-right: 8px;
      
}
.service-title h3{
    color: #111;
    font-weight: 900;
}
.service-title h4{
    color: #873fb5;
    font-weight: 300;
    margin-top: -10px;
}

/* __________3.Skills */
#skills{
    background: url(../images/skillsbg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    background-size: cover;
}

#skills h1{
    font-size: 48px;
}
#skills h3{
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
}
#skills p{
    margin: 40px 0;
}
.button{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
    border-radius: 2px;
    padding-bottom: 5px;
}
.button:hover{
    border-color: #873fb5;
}
#skills .button:last-child{
    margin-left: 20px;
}

.progress{
    margin-bottom: 30px;
    opacity: .78;
    border-radius: 4px;
    background-color: #111;
    box-shadow: none;
}

.progress-bar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#783a93+0,8c4563+100 */
        background: #783a93; /* Old browsers */
        background: -moz-linear-gradient(left, #783a93 0%, #8c4563 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #783a93 0%,#8c4563 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #783a93 0%,#8c4563 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#783a93', endColorstr='#8c4563',GradientType=1 ); /* IE6-9 */
}

.progress-bars h5{
    text-transform: uppercase;
    font-weight: 600;
}

/* __________4.Portfolio */

#porfolio .col-md-4{
    padding: 0;
}

.portfolio-thumb,
.portfolio-overlay{
    height: 270px;
    max-width: 390px;
}

#portfolio .portfolio-thumb img{
    width: 100%;
    height: 100%;
}
#portfolio .portfolio-thumb{
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}
#portfolio .portfolio-thumb .portfolio-overlay{
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(135, 63, 181, .6);
    text-align: center;
    padding: 20px 10px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;

}
#portfolio .portfolio-thumb .portfolio-overlay:hover{
    opacity: 1;
    cursor: pointer;
}
#portfolio .portfolio-thumb .portfolio-overlay h2{
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    font-weight: 300;
    padding: 5px 10px 10px 10px;
    margin-top: 10px;
}
#portfolio .portfolio-thumb .portfolio-overlay a{
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
}
/* ***************Status */
.stat{
    color: #fff;
    height: 230px;
}
.stat i{
    font-size: 48px;
}
.codes{
    background: url(../images/stats1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.projects{
    background: url(../images/stats2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.clients{
    background: url(../images/stats3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.feedback{
    background: url(../images/stats4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ******************Quotes */
#quotes{
    background: url(../images/quotesbg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 440px;
    background-size: cover;
}

.form-control{
    height: 45px;
    color: #c1c1c1;
    background-color: #f5f5f5;
    border: 1px solid #d1d1d1;
    font-size: 16px;
    padding: 15px;
    box-shadow: none;
    font-weight: 300;
}
.form-control:focus{
    box-shadow: none;
    border-color: rgb(119, 60, 179);
    color: #793a93;
    background-color: #fff;
}
.form-control::-moz-placeholder{
    color: rgb(27, 26, 29);
}
.form-control:focus:-moz-placeholder{
    color: #793a93;
}
.form-control::-webkit-input-placeholder{
    color: rgb(26, 24, 27);
}
.form-control:focus::-webkit-input-placeholder{
    color: #6e13c4;
}

/* *************8.Footer */
#footer{
    background: url(../images/footerbg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
}
#footer .logo{
    margin-top: 85px;
}
#footer ul{
    display: block; 
    padding-left: 0;
    margin-top: 10px;
}
#footer ul li{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
}
#footer ul a{
    font-size: 32px;
    color: #fff;
    padding: 0 10px;
}

.copyrights{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size:12px;
    padding: 5px 0;
    /* margin-top: 20px;     */
}

.google-map{
    font-size: 32px;
    padding: 32px;
}